<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <typeAliases>
        <!-- 1、配置取别名 -->
        <typeAlias type="com.lmt.entity.Student" alias="Student"/>
        <typeAlias type="com.lmt.entity.Phone" alias="Phone"/>
        <typeAlias type="com.lmt.entity.Account" alias="Account"/>
        <!-- 2、注解方式取别名 -->
        <package name="com.lmt.entity"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 1、两种使用xml配置文件注册Mapper的方式 -->
        <!--<mapper url="file:C:/Users/{YourUserName}/IdeaProjects/MyBatis/src/main/resources/mapper/StudentMapper.xml"/>-->
        <mapper resource="mapper/StudentMapper.xml"/>
        <mapper resource="mapper/PhoneMapper.xml"/>
        <mapper resource="mapper/AccountMapper.xml"/>
        <mapper resource="mapper/AuthorMapper.xml"/>
        <mapper resource="mapper/BookMapper.xml"/>
        <mapper resource="mapper/ManufacturerMapper.xml"/>
        <mapper resource="mapper/ManufacturerProductMapper.xml"/>
        <mapper resource="mapper/ProductMapper.xml"/>
        <mapper resource="mapper/ComputerMapper.xml"/>
        <!-- 2、两种使用接口（注解）注册Mapper的方式 -->
        <!--<mapper class="com.lmt.mapper.StudentMapper"/>-->
        <package name="com.lmt.mapper"/>
    </mappers>
</configuration>